/*
font-family: 'Allura', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Tangerine', cursive;
font-family: 'Ubuntu', sans-serif;
*/

body {
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: 'Merriweather', serif;
        background-color: #2F8F9D;
    }
    
    ::-webkit-scrollbar {
        display: none;
    }
    
    ::selection{
        background: #176d7a;
        color: whitesmoke;
    }
    
    hr {
        border-style: dotted none none;
        border-width: 8px;
        border-color: #395B64;
        width: 4%;
        background-color: transparent;
    }
    
    div {
        margin: 0;
        padding: 0;
    }
    
    /* Landing Section */
    
    .landing {
        background-color: #82DBD8;
    }
    
    #bgImg {
        width: 100vw;
        height: 100vh;
    }
    
    .landing>h1,
    .landing>p {
        position: relative;
        top: 14rem;
        color: #2F8F9D;
        margin: 0;
    }
    
    .landing>h1 {
        font-family: 'Allura', cursive;
        font-weight: 600;
        font-size: 5.75rem;
    }
    
    .landing>p {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 600;
        font-size: 1.25rem;
        letter-spacing: 0.2rem;
    }
    
    /* Short Profile Section */
    
    .shortProfile {
        /* background-color: #82DBD8; */
        position: relative;
        top: -12rem;
        padding: 2.5rem 2.5rem 0.5rem;
        margin-bottom: -12rem;
    }
    
    #profilePic {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        padding-bottom: 2rem;
    }
    
    h3 {
        font-weight: 700;
        font-size: 2.25rem;
        margin: 1rem;
    }
    
    h4 {
        font-weight: 600;
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    
    /* Personal Details */
    
    .personalDetails {
        padding: 2rem;
    }
    
    h2 {
        font-weight: 700;
        font-size: 2.5rem;
        margin: 2rem 0 0;
    }
    
    table {
        text-align: left;
        position: relative;
        left: 30rem;
        border-collapse: separate;
        border-spacing: 10rem 2rem;
        margin: 4rem 0;
    }
    
    td {
        padding: 1rem;
    }
    
    h5 {
        font-weight: 600;
        font-size: 1rem;
        margin: 0;
    }
    
    p {
        font-weight: 500;
        font-size: 1rem;
        margin: 0;
    }
    
    /* Skills */
    
    .skill-row {
        width: 35%;
        margin: 100px auto;
        text-align: left;
    }
    
    .skill-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    
    .si1,
    .si2,
    .si3 {
        float: left;
        margin-right: 5rem;
    }
    
    /* 
    .si2{
        float: right;
        margin-left: -3.5rem;
    } */
    
    .skill-text {
        width: 100%;
        line-height: 2;
    }
    
    .skill-text>h4 {
        margin-bottom: -1rem;
        position: relative;
        left: -2.5rem;
    }
    
    /* hobbies */
    
    .hobbies-row {
        width: 35%;
        margin: 100px auto;
        text-align: left;
    }
    
    .hobbies-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    
    .hi1,
    .hi2,
    .hi3 {
        float: right;
        margin-right: 2.5rem;
    }
    
    /* 
    .si2{
        float: right;
        margin-left: -3.5rem;
    } */
    
    .hobbies-text {
        width: 100%;
        line-height: 2;
    }
    
    .hobbies-text>h4 {
        margin-bottom: -1rem;
    }
    
    /* Future Plans */
    
    .plans-row {
        width: 35%;
        margin: 100px auto;
        text-align: left;
    }
    
    .plans-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    
    .pi1,
    .pi2,
    .pi3 {
        float: left;
        margin-right: 5rem;
    }
    
    /* 
    .pi2{
        float: right;
        margin-left: -3.5rem;
    } */
    
    .plans-text {
        width: 100%;
        line-height: 2;
    }
    
    .plans-text>h4 {
        margin-bottom: -1rem;
        position: relative;
        left: -2.5rem;
    }
    
    /* Contact Button */
    
    #contactBtn {
        padding: 1rem 2.5rem;
        background-color: #0c515c;
        border: none;
        border-radius: 40px;
        margin: 3rem 0;
        color: whitesmoke;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        transition: all 0.25s ease-in-out;
    }
    
    #contactBtn:hover {
        color: white;
        cursor: pointer;
        background-color: #176d7a;
    }
    
    /* Footer Section */
    .footer{
        background-color: #03506F;
    }
    
    .fa-brands{
        font-size: 3rem;
        color: white;
        margin: 4rem 5rem 2rem;
        padding: 0;
        position: relative;
        top: 0;
        transition: all 0.25s ease-in-out;
    }
    
    .fa-brands:hover{
        top: -1rem;
    }
    
    .footer>h5{
        color: whitesmoke;
        padding: 3.5rem 0 2.5rem;
    }