body{
    margin: auto 12.5%;
    max-width: 75%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

table, th, td {
    margin: 2.5rem auto 2rem;
    border: 1px solid #0E5E6F;
    border-collapse: collapse;
}

thead{
    background-color: #0E5E6F;
    color: whitesmoke;
}

th,td{
    padding: 1.5rem 5rem;
}

tr:nth-child(even){
    background-color: #0e5d6f46;
}